// Imports for fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

// Variables
$black: rgba(0, 0, 0, 0.7);
$contentSize: 18px;

// Mixins
@mixin contentDiv() {
  background-color: white;
  max-width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
}

@mixin contentH3() {
  font-size: 35px;
  text-align: center;
  color: $black;
  margin-bottom: 20px;
}

@mixin contentP() {
  max-width: 700px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 190%;
  color: $black;
  font-size: $contentSize;
}


body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: white;
  }

header {
  background-image: url("/assets/images/bg.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  box-shadow: 5px 0px 5px 2px $black;
  }

h1 {
  color: white;
  font-size: 60px;
  font-family: 'Bree Serif', serif;
  border: 9px solid white;
  padding: 10px 19px 10px 19px;
  }

  .arrow {
    width: 55px;
    height: 55px;
    margin-top: 50px;
  }

// Navigation Bar styles
.nav {
  border: none;
  border-bottom: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  background: transparent;
  color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  }

.nav:hover {
  background-color: white;
  color: $black;
  border: none;
  }

// What section styles
div.what {
  @include contentDiv;
  }

h3.what {
  @include contentH3;
  }

p.what {
  @include contentP;
  }

.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  }

// Activity section styles
div.activities {
  @include contentDiv;
  }

h3.activities {
  @include contentH3;
  }

p.activities {
  @include contentP;
  }

img.activity {
  width: 70px;
  height: 70px;
  border-radius: 150%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// Sponsers section styles
div.sponsers {
  @include contentDiv;
}

h3.sponsers {
  @include contentH3;
}

p.sponsers {
  @include contentP;
}

a.sponsers {
  text-decoration: none;
  color: black;
}

img.costwold {
  width: 70px;
  height: 70px;
  border-radius: 150%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

// Line that splits paragraphs on homepage
.line {
  height: 1px;
  width: 450px;
  background-color: rgba(0,0,0,0.2);
  margin: 0 auto;
}

// Footer Content
footer {
  height: 200px;
  width: 100% px;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 5px 0px 5px 2px rgba(0,0,0,0.5);
  }

h2.footer {
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  color: white;
  width: 250px;
  padding-top: 70px;
  margin-left: 55px;
}

footer {
  img {
    width: 50px;
    height: 50px;
    bottom: 150px;
    border-radius:100%;
    position: relative;
  }
}

 .fb {
    margin-left: 340px;
    bottom: 70px;
 }

 .pin {
   margin-left: 10px;
   bottom: 70px;
 }

.twit {
  margin-left: 10px;
  bottom: 70px;
}

ul.footer {
  float: right;
  margin-right: 500px;
  text-decoration: none;
  list-style: none;
  color: white;
  margin-top: -95px;
  padding-bottom: 20px;
}

.vertLine {
  background-color: white;
  position: relative;
  margin-top: -145px;
  margin-left: 600px;
  width: 1px;
  height: 100px;
}

ul {
  a {
    text-decoration: none;
    color:white;
  }

  a:hover {
    font-weight: bold;
  }
}
/*# sourceMappingURL=main.css.map */
